.dashboard {
  padding: 60px 146px 0px 120px;
}

.reports {
  text-align: left;
  font-size: 24px;
  font-family: sans-serif;
  letter-spacing: 0px;
  color: #030303;
  opacity: 1;
  margin-bottom: 30px;
}

.sort-section {
  width: 100%;
  height: 110px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 12px #0000000D;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  margin-bottom: 30px;
}

.table-section {
  width: 100%;
  height: fit-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 12px #0000000D;
  border-radius: 5px;
  opacity: 1;
}

.item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.label-header {
  text-align: left;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  color: #030303;
  opacity: 1;
}

.search {
  width: 90px;
  height: 30px;
  background: #3B87FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 20px #00000029;
  border-radius: 5px;
  opacity: 1;
  border: none;
  color: #FFFFFF;
  margin-top: 45px;
}

.search:hover {
  background: #0063FF;
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 0.75rem !important;
}

.results {
  text-align: left;
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 0px;
  color: #3D404E;
  opacity: 1;
}

.search-items {
  text-align: right;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  color: #3D404E;
  opacity: 1;
}

.search-result {
  text-align: left;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  color: #3B87FF;
  opacity: 1;
}

#table-data td, #table-data th {
  border: none solid #ddd;
  padding: 8px;
  width: 310px;
  font-family: sans-serif;
  text-align: center;
  font-size: 10px;
}

#table-data th {
  background: #EEEEF0 0% 0% no-repeat padding-box;
  opacity: 1;
  letter-spacing: 0px;
  color: #666666;
  font-weight: bold;
}

.select-data {
  width: 130px;
}